<div class="modal fade" role="dialog" id="lessonInput" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="lessonForm" autocomplete="off" novalidate="novalidate">
                <div class="modal-header">
                    @if (User.IsInRole(Calendar.Utility.Helper.Admin))
                    {
                        <h4 class="modal-title">Dodaj lub edytuj lekcję</h4>
                    }
                    else
                    {
                        <h4 class="modal-title">Szczegóły lekcji</h4>
                    }
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="title">Nazwa zajęć</label>
                        <input type="text" maxlength="100" class="form-control" id="title" />
                    </div>
                    <div class="form-group">
                        <label for="description">Opis</label>
                        <textarea type="text" class="form-control" id="description"></textarea>
                    </div>
                    @if (User.IsInRole(Calendar.Utility.Helper.Admin))
                    {


                        <div class="form-group">
                            <label for="title">Wybierz studenta</label>
                            <select id="studentId" asp-items="@(new SelectList(ViewBag.StudentList,"Id","Name"))" class="form-control"></select>
                        </div>}
                    else
                    {
                        @if (User.IsInRole(Calendar.Utility.Helper.Teacher))
                        {
                            <div class="form-group">
                                <label for="lblStudentName">Imię i nazwisko studenta</label>
                                <label type="text" class="form-control" disabled id="lblStudentName" />
                            </div>
                            <div class="form-group">
                                <label for="lblStatus">Status</label>
                                <label type="text" class="form-control" disabled id="lblStatus" />
                            </div>
                        }
                        @if (User.IsInRole(Calendar.Utility.Helper.Student))
                        {
                            <div class="form-group">
                                <label for="lblTeacherName">Imię i nazwisko nauczyciela</label>
                                <label type="text" class="form-control" disabled id="lblTeacherName" />
                            </div>
                            <div class="form-group">
                                <label for="lblStatus">Status</label>
                                <label type="text" class="form-control" disabled id="lblStatus" />
                            </div>
                        }
                    }
                    <div class="form-group">
                        <label for="lessonDate">Wybierz datę</label>
                        <input class="form-control" id="lessonDate" />
                    </div>
                    <div class="form-group">
                        <label for="title">Czas trwania lekcji</label>
                        <select id="duration" asp-items="ViewBag.Duration" class="form-control"></select>
                    </div>
                    <input type="hidden" id="id" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="onCloseModal();">Wyjdź</button> &nbsp;

                    @if (User.IsInRole(Calendar.Utility.Helper.Admin))
                    {
                        <button type="button" id="btnSubmit" class="btn btn-success" onclick="onSubmitForm();">Zapisz</button>
                        <button type="button" id="btnDelete" class="btn btn-danger" onclick="onDeleteLesson();">Usuń</button>
                    }
                    @if (User.IsInRole(Calendar.Utility.Helper.Teacher))
                    {
                        <button type="button" id="btnConfirm" class="btn btn-success" onclick="onConfirm();">Potwierdź</button>
                        <button type="button" id="btnDelete" class="btn btn-danger" onclick="onDeleteLesson();">Usuń</button>
                    }


                </div>
            </form>
        </div>
    </div>
</div>