<div class="row">
    <div class="container">
        @if (User.IsInRole(Calendar.Utility.Helper.Admin))
        {
<div class="form-group row col-2" id="divTeacherList">
    <label> Select Teacher</label>
    @Html.DropDownList("teacherId", new SelectList(ViewBag.TeacherList, "Id", "Name"), new { @class = "form-control select2" })
</div>}
        <div id="calendar"></div>
    </div>
</div>

<partial name="_AddEditLesson" />

