<div class="row">
    <div class="container">
        @if (User.IsInRole(Calendar.Utility.Helper.Admin))
        {
<div class="form-group row col-2" id="divDoctorList">
    <label> Select Doctor</label>
    @Html.DropDownList("teacherId", new SelectList(ViewBag.TeacherList, "Id", "Name"), new
    {
        @class = "form-control select2"
    ,
        @onchange = "onTeacherChange();"
    })
</div>}
        <div id="calendar"></div>
    </div>
</div>

<partial name="_AddEditLesson" />
