@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p><img src="~/lib/Images/London.png"  class="img-fluid w-25 mt-5" /></p>
    <h1 class="display-4 text-primary border-bottom">Witamy w szkole języka angielskiego.</h1>
    <p>Aby rozpocząć przejdź do logowania.</p>
</div>
