@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p></p>
    <h1 class="display-4 text-primary border-bottom">It's your own calendar.</h1>
    <p>If you want to start, just log in</p>
</div>
