@{
    ViewData["Title"] = "Rejestracja";
}
@model Calendar.Api.Views.ViewModels.RegisterViewModel

<h2>Zarejestruj się</h2>
<form method="post" asp-action="Register" asp-controller="Account">
    @if (User.IsInRole(Calendar.Utility.Helper.Admin))
    {
<h4>Zarejestruj konto admina.</h4> }
            else
            {
<h4>Stwórz nowe konto.</h4>}

    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group row">
        <label class="col-md-2" asp-for="Name">Imię i nazwisko</label>
        <div class=" col-md-10">
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2" asp-for="Email"></label>
        <div class=" col-md-10">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2" asp-for="Password">Hasło</label>
        <div class=" col-md-10">
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2" asp-for="ConfirmPassword">Potwierdź hasło</label>
        <div class=" col-md-10">
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2" asp-for="RoleName">Zarejestruj jako</label>
        <div class=" col-md-10">
            <select asp-for="RoleName"
                    asp-items="@Calendar.Utility.Helper.GetRolesForDropDown(User.IsInRole(Calendar.Utility.Helper.Admin))" class="form-control"></select>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10 offset-md-2">
            <input type="submit" value="Zarejestruj" class="btn btn-success" />
        </div>
    </div>
    <p class="col-md-10 offset-md-2">
        <a asp-action="Login">Zaloguj</a>
    </p>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />

}